@import "../variables.scss";

.about-page {
	padding: 11.5rem 0 4rem 0;
	background: $dark-gradient;
	color: $main-white;

	@media screen and (max-width: $big-tablet) {
		padding: 10rem 0;
	}

	&-wraper {
		display: flex;
		gap: 8.25rem;

		@media screen and (max-width: 1120px) {
			gap: 5rem;
		}

		@media screen and (max-width: $desktop) {
			gap: 2.5rem;
		}

		@media screen and (max-width: $big-tablet) {
			flex-direction: column;
			gap: 0;
		}
	}

	&-flex {
		flex: 1;
		flex-basis: 50%;
	}

	&__img {
		height: 100%;
		border-radius: $card-border-radius;
		overflow: hidden;
		object-fit: cover;

		@media screen and (max-width: $big-tablet) {
			height: 25.375rem;
		}

		@media screen and (max-width: $mobile) {
			height: 18.75rem;
		}
	}

	&__title {
		width: 1000px;
		margin-bottom: 3.5rem;
		font-size: 4.5rem;
		font-weight: 600;
		line-height: 1;

		@media screen and (max-width: $desktop) {
			width: 700px;
			font-size: 3rem;
		}

		@media screen and (max-width: $big-tablet) {
			width: 100%;
			margin-bottom: 1.5rem;
			font-size: 2.25rem;
		}
	}

	&__text {
		margin-bottom: 2.5rem;
		font-size: 1rem;
		line-height: 1.2;
		letter-spacing: -0.16px;

		@media screen and (max-width: $big-tablet) {
			margin-bottom: 1.5rem;
			font-size: 0.875rem;
			letter-spacing: -0.14px;
		}

		&:nth-child(2) {
			margin-bottom: 1rem;
		}
	}

	&-margin {
		margin-bottom: 20rem;
		border: 1px solid rgba(43, 41, 41, 0.2);

		@media screen and (max-width: 1120px) {
			margin-bottom: 12.5rem;
		}

		@media screen and (max-width: $desktop) {
			margin-bottom: 6.25rem;
		}

		@media screen and (max-width: $big-tablet) {
			margin-bottom: 0;
		}
	}
}
