@import "../variables.scss";

.about-page {
	padding: 11.5rem 0 4rem 0;
	background: $dark-gradient;
	color: $main-white;

	@media screen and (max-width: $big-tablet) {
		padding: 10rem 0 2.5rem 0;
	}

	&-wrapper {
		display: flex;
		gap: 8rem;

		@media screen and (max-width: 1120px) {
			gap: 5rem;
		}

		@media screen and (max-width: $desktop) {
			gap: 2.5rem;
		}

		@media screen and (max-width: $big-tablet) {
			flex-direction: column;
			gap: 0;
		}
	}

	&__img {
		height: 100%;
		border-radius: $card-border-radius;
		overflow: hidden;
		object-fit: cover;

		@media screen and (max-width: $big-tablet) {
			height: 20rem;
		}

		@media screen and (max-width: $mobile) {
			height: 12.75rem;
		}
	}

	&__title {
		width: 1000px;
		margin-bottom: 3.5rem;
		font-size: 4.5rem;
		font-weight: 600;
		line-height: 1;

		@media screen and (max-width: $desktop) {
			width: 700px;
			font-size: 3rem;
		}

		@media screen and (max-width: $big-tablet) {
			width: 100%;
			margin-bottom: 1.5rem;
			font-size: 2.25rem;
		}
	}

	&__subtitle {
		margin: 3.12rem 0 1rem 0;
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -0.2px;

		@media screen and (max-width: $big-tablet) {
			margin: 2rem 0 0.5rem 0;
			font-size: 1rem;
			letter-spacing: -0.16px;
		}
	}

	&__text {
		font-size: 1rem;
		line-height: 1.2;
		letter-spacing: -0.16px;

		@media screen and (max-width: $big-tablet) {
			font-size: 0.875rem;
			letter-spacing: -0.14px;
		}
	}
}

.about-fact {
	padding: 4rem 0;
	background-color: $second-white;

	@media screen and (max-width: $big-tablet) {
		padding: 2.5rem 0;
	}

	&-flex {
		display: flex;
		gap: 1rem;

		@media screen and (max-width: $big-tablet) {
			flex-direction: column;
		}
	}

	&-color {
		margin-left: 0.625rem;
		color: rgba(103, 107, 112, 0.31);

		@media screen and (max-width: 1180px) {
			margin-left: 0;
		}
	}

	&-text {
		display: flex;

		@media screen and (max-width: 1180px) {
			flex-direction: column;
		}
	}

	&-wrapper {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		justify-content: space-between;
		width: 50%;
		height: 19rem;
		padding: 1.5rem 1.5rem 2rem 1.5rem;
		border: 1px solid rgba(102, 107, 113, 0.2);
		border-radius: $card-border-radius;

		@media screen and (max-width: $desktop) {
			height: auto;
		}

		@media screen and (max-width: $big-tablet) {
			width: 100%;
			gap: 5rem;
			height: auto;
			padding: 1rem 1rem 1.125rem 1rem;
		}
	}

	&__title {
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 1;

		@media screen and (max-width: $desktop) {
			font-size: 2rem;
		}

		@media screen and (max-width: $big-tablet) {
			font-size: 1.75rem;
		}
	}

	&__subtitle {
		margin: 3.12rem 0 1rem 0;
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -0.2px;

		@media screen and (max-width: $desktop) {
		}

		@media screen and (max-width: $big-tablet) {
			margin: 2rem 0 0.5rem 0;
			font-size: 1rem;
			letter-spacing: -0.16px;
		}
	}

	&__text {
		font-size: 1rem;
		line-height: 1.2;
		letter-spacing: -0.16px;

		@media screen and (max-width: $big-tablet) {
			font-size: 0.875rem;
			letter-spacing: -0.14px;
		}
	}
}

.expectation {
	padding: 4rem 0;
	background-color: $second-white;

	@media screen and (max-width: $big-tablet) {
		padding: 2.5rem 0;
	}

	&-wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		gap: 12rem;

		@media screen and (max-width: 1280px) {
			gap: 1.25rem;
		}

		@media screen and (max-width: $big-tablet) {
			display: block;
		}
	}

	&__title {
		width: 31.875rem;
		margin: 3.5rem 0 1.5rem 0;
		color: $grey90;
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 1;

		@media screen and (max-width: $desktop) {
			margin: 2rem 0 1rem 0;
			width: 22.5rem;
			font-size: 1.75rem;
		}

		@media screen and (max-width: $big-tablet) {
			width: 100%;
		}
	}

	&__subtitle {
		width: 31.875rem;
		color: $grey90;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -0.16px;

		@media screen and (max-width: $desktop) {
			width: 22.5rem;
			font-size: 0.875rem;
			letter-spacing: -0.14px;
		}

		@media screen and (max-width: $big-tablet) {
			width: 100%;
		}
	}

	&__list {
		width: 31.875rem;
		margin-bottom: 1rem;
		color: $grey90;
		line-height: 1.2;
		letter-spacing: -0.16px;

		@media screen and (max-width: $desktop) {
			width: 22.5rem;
			font-size: 0.875rem;
			letter-spacing: -0.14px;
		}

		@media screen and (max-width: $big-tablet) {
			width: 100%;
		}
	}

	&__item {
		margin: 0 0 0.5rem 1.5rem;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0.5rem;
			left: -14px;
			display: inline-block;
			width: 0.25rem;
			height: 0.25rem;
			background-color: $grey90;
			border-radius: 50%;
		}
	}

	&__img {
		height: 100%;
		border-radius: $card-border-radius;
		overflow: hidden;
		object-fit: cover;

		@media screen and (max-width: $big-tablet) {
			height: 25.375rem;
		}
	}
}
