@import "../variables.scss";

.conditions {
	padding: 11.5rem 0 5rem 0;
	background: $dark-gradient;

	@media screen and (max-width: $big-tablet) {
		padding: 8.813rem 0 2.5rem 0;
	}

	&__title {
		color: $main-white;
		font-size: 4.5rem;
		font-weight: 600;
		line-height: 1;

		@media screen and (max-width: $big-tablet) {
			font-size: 2.25rem;
		}
	}

	&__acr {
		padding: 5rem 0 5rem 0;
		background: $main-white;

		@media screen and (max-width: $big-tablet) {
			padding: 2.5rem 0 2.5rem 0;
		}
	}

	&__text {
		width: 68%;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -0.18px;

		@media screen and (max-width: $desktop) {
			width: 80%;
		}

		@media screen and (max-width: $big-tablet) {
			width: 100%;
			font-size: 1rem;
			letter-spacing: -0.16px;
		}
	}
}
