@import "../variables.scss";

.banner {
	position: relative;
	height: 46.5rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__video {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
		top: 0;
		left: 0;
		z-index: -1;
	}

	@media screen and (max-width: $big-tablet) {
		height: 41.875rem;
	}
}

.banner-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 2rem;
	height: 100%;

	@media screen and (max-width: $big-tablet) {
		flex-direction: column;
		gap: 1rem;
		align-items: flex-start;
	}
}

.banner__title {
	width: 52.875rem;
	color: $main-white;
	font-size: 4.5rem;
	font-weight: 600;
	line-height: 1;
	margin-top: auto;

	@media screen and (max-width: 1140px) {
		width: 44.375rem;
		font-size: 3.75rem;
	}

	@media screen and (max-width: $desktop) {
		width: 27.5rem;
		font-size: 2.875rem;
	}

	@media screen and (max-width: $tablet) {
		width: 21.5rem;
		font-size: 2.25rem;
	}

	@media screen and (max-width: $mobile) {
		width: 100%;
	}
}

.iso {
	padding: 4rem 0;
	border-radius: $page-border-radius;
	background: $dark-gradient;

	@media screen and (max-width: $big-tablet) {
		padding: 2.5rem 0;
	}
}

.iso-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4rem;
	height: 15.625rem;

	@media screen and (max-width: $big-tablet) {
		margin-bottom: 2rem;
		flex-direction: column;
		gap: 0.5rem;
		align-items: flex-start;
		height: 100%;
	}
}

.iso-title {
	width: 30rem;
	color: $main-white;
	font-size: 3.5rem;
	font-weight: 600;
	line-height: 1;

	@media screen and (max-width: $desktop) {
		width: 19.0625rem;
		font-size: 2.25rem;
	}

	@media screen and (max-width: $big-tablet) {
		width: 15rem;
		font-size: 1.75rem;
	}

	@media screen and (max-width: $mobile) {
		width: 100%;
	}
}

.iso__subtitle {
	width: 25rem;
	display: flex;
	align-items: flex-end;
	color: $main-white;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -0.16px;

	@media screen and (max-width: $big-tablet) {
		width: 20rem;
		font-size: 0.875rem;
	}

	@media screen and (max-width: $mobile) {
		width: 100%;
	}
}

.iso__list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-evenly;

	@media screen and (max-width: $tablet) {
		gap: 0.5rem;
	}
}

.iso__card {
	width: 20.625rem;
	height: 16.0625rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.25rem 1rem;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: $card-border-radius;
	transition: border-color $transition-function;

	&:hover,
	&:focus {
		border-color: $main-white;

		.iso__icon {
			stroke: $grey15;
			transform: rotate(0deg);
		}
	}

	@media screen and (max-width: 1440px) {
		width: 18.125rem;
		height: 14.375rem;
	}

	@media screen and (max-width: $desktop) {
		width: 15rem;
	}

	@media screen and (max-width: $tablet) {
		width: 10rem;
		height: 8.25rem;
		padding: 0.5rem;
	}

	@media screen and (max-width: $mobile) {
		width: 8.75rem;
		height: 8.75rem;
	}
}

.iso__card-wrapper {
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: $big-tablet) {
	}
}

.iso__img {
	width: 6.75rem;
	margin-left: 0.375rem;

	@media screen and (max-width: $tablet) {
		width: 3.5rem;
		margin-left: 1px;
	}
}

.iso__icon {
	margin: -7px -3px 0 0;
	width: 0.875rem;
	height: 0.875rem;
	stroke: $main-white;
	transform: rotate(-45deg);
	transition: all $transition-function;

	@media screen and (max-width: $tablet) {
		margin: 0;
		width: 0.75rem;
		height: 0.75rem;
	}
}

.iso__text {
	color: $main-white;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1;
	letter-spacing: -0.16px;
	text-transform: capitalize;

	@media screen and (max-width: $tablet) {
		font-size: 0.75rem;
		font-weight: 400;
		letter-spacing: -0.12px;
	}
}

.about {
	padding: 4rem 0;
	background-color: $dark-white;

	@media screen and (max-width: $big-tablet) {
		padding: 2.5rem 0;
	}

	&-wraper {
		display: flex;
		gap: 8.25rem;

		@media screen and (max-width: 1120px) {
			gap: 5rem;
		}

		@media screen and (max-width: $desktop) {
			gap: 2.5rem;
		}

		@media screen and (max-width: $big-tablet) {
			flex-direction: column;
			gap: 0;
		}
	}

	&-flex {
		flex: 1;
		flex-basis: 50%;
	}

	&__img {
		height: 100%;
		border-radius: $card-border-radius;
		overflow: hidden;
		object-fit: cover;

		@media screen and (max-width: $big-tablet) {
			height: 25.375rem;
		}

		@media screen and (max-width: $mobile) {
			height: 18.75rem;
		}
	}

	&__title {
		margin: 3.5rem 0 1.5rem 0;
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;

		@media screen and (max-width: $desktop) {
			font-size: 2.5rem;
		}

		@media screen and (max-width: $big-tablet) {
			margin: 2rem 0 1rem 0;
			font-size: 1.75rem;
		}
	}

	&__text {
		margin-bottom: 2.5rem;
		font-size: 1rem;
		line-height: 1.2;
		letter-spacing: -0.16px;

		@media screen and (max-width: $big-tablet) {
			margin-bottom: 1.5rem;
			font-size: 0.875rem;
			letter-spacing: -0.14px;
		}

		&:nth-child(2) {
			margin-bottom: 1rem;
		}
	}

	&-margin {
		margin-bottom: 20rem;
		border: 1px solid rgba(43, 41, 41, 0.2);

		@media screen and (max-width: 1120px) {
			margin-bottom: 12.5rem;
		}

		@media screen and (max-width: $desktop) {
			margin-bottom: 6.25rem;
		}

		@media screen and (max-width: $big-tablet) {
			margin-bottom: 0;
		}
	}
}

.work {
	padding: 4rem 0 8rem 0;

	@media screen and (max-width: $big-tablet) {
		padding: 2.5rem 0 6.5rem 0;
	}

	&-wraper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 13.625rem;

		@media screen and (max-width: $desktop) {
			gap: 2.5rem;
		}

		@media screen and (max-width: $big-tablet) {
			margin-bottom: 11.75rem;
			flex-direction: column;
			gap: 0;
		}
	}

	&-flex {
		@media screen and (max-width: $big-tablet) {
			display: flex;
			gap: 0.33rem;
		}
	}

	&-color {
		color: rgba(103, 107, 112, 0.31);
	}

	&__title {
		width: 20.625rem;
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;

		@media screen and (max-width: $big-tablet) {
			width: fit-content;
			font-size: 1.75rem;
		}

		@media screen and (max-width: $mobile) {
			font-size: 1.4rem;
		}
	}

	&__text {
		margin-right: 5.625rem;
		width: 29.5rem;
		font-size: 1rem;
		line-height: 1.2;
		letter-spacing: -0.16px;

		@media screen and (max-width: $desktop) {
			margin-right: 0;
		}

		@media screen and (max-width: $big-tablet) {
			margin-top: 1rem;
			font-size: 0.875rem;
			letter-spacing: -0.14px;
		}

		@media screen and (max-width: $tablet) {
			width: fit-content;
		}
	}
}

.team {
	position: relative;
	padding-bottom: 4rem;
	border-radius: $page-border-radius;
	background: $dark-gradient;

	&-container {
		padding-right: 2.25rem;
		margin-bottom: 8.75rem;
		position: relative;
		@media screen and (max-width: $desktop) {
			padding-right: 0;
		}
		@media screen and (max-width: $big-tablet) {
			margin-bottom: 5rem;
		}
	}

	&-flex {
		margin-bottom: 4rem;
		display: flex;
		justify-content: space-between;
		color: $main-white;

		@media screen and (max-width: $big-tablet) {
			flex-direction: column;
			margin-bottom: 1.5rem;
		}
	}

	&__title {
		width: 25rem;
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;

		@media screen and (max-width: $desktop) {
			width: 15.625rem;
			font-size: 1.75rem;
		}

		@media screen and (max-width: $big-tablet) {
			margin-bottom: 1rem;
		}
	}

	&__text {
		width: 29.5rem;
		font-size: 1rem;
		line-height: 1.2;
		letter-spacing: -0.16px;

		@media screen and (max-width: $desktop) {
			width: 19.375rem;
			font-size: 0.875rem;
			letter-spacing: -0.14px;
		}

		@media screen and (max-width: $mobile) {
			width: fit-content;
		}
	}

	&-wraper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 2rem 6.375rem 2rem 2rem;
		color: rgba(255, 255, 255, 0.31);
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: $card-border-radius;

		@media screen and (max-width: $desktop) {
			padding-right: 3.125rem;
		}

		@media screen and (max-width: $big-tablet) {
			padding: 1rem 3.125rem 1rem 1rem;
		}
	}

	&__item {
		@media screen and (max-width: $desktop) {
		}

		@media screen and (max-width: $big-tablet) {
			width: calc(50% - 16px);
		}
	}

	&__number {
		margin-bottom: 0.5rem;
		font-size: 3.5rem;
		font-weight: 600;
		line-height: 1;

		@media screen and (max-width: $desktop) {
		}

		@media screen and (max-width: $big-tablet) {
			font-size: 1.75rem;
		}
	}

	&__desc {
		width: 9.375rem;
		line-height: 1;
		letter-spacing: -0.16px;

		@media screen and (max-width: $desktop) {
		}

		@media screen and (max-width: $big-tablet) {
			width: 6.25rem;
			font-size: 0.75rem;
			letter-spacing: -0.12px;
		}
	}
}

// swiper slider general settings
.swiper {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-color: transparent;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// custom style
.swiper-flex {
	position: relative;
	display: flex;
	@media screen and (max-width: $desktop) {
		flex-direction: column-reverse;
		gap: 7.5rem;
	}

	&__quotes {
		position: absolute;
		top: 28%;
		left: 22%;
		color: $main-white;
		font-size: 5.5rem;
		font-weight: 700;
		opacity: 0.46;
		@media screen and (max-width: $desktop) {
			top: 36%;
			left: 3%;
			font-size: 4rem;
		}
		@media screen and (max-width: $tablet) {
			top: 38%;
			font-size: 2.875rem;
		}
	}
}

// thumbnail slider
.mySwiper {
	height: 20%;
	box-sizing: border-box;

	& .swiper-slide {
		height: 100%;
		opacity: 0.4;
		filter: grayscale(100%);
		&:hover,
		&:focus {
			filter: none;
		}
	}

	& .swiper-flex-img {
		display: flex;
		flex-direction: column;
		gap: 1.875rem;
		@media screen and (max-width: $desktop) {
			flex-direction: row;
			gap: 0;
			justify-content: space-between;
		}
	}

	& .swiper-slide-thumb-active {
		opacity: 1;
		filter: none;
	}
	& .swiper-empty__wrap {
		height: 12.5rem;
		@media screen and (max-width: $desktop) {
			height: 13.375rem;
		}
	}
}

.swiper-img-sm {
	width: 160px;
	height: 160px;
	border-radius: $btn-border-radius;
	overflow: hidden;
	cursor: pointer;
	@media screen and (max-width: $desktop) {
		width: 120px;
		height: 120px;
	}
	@media screen and (max-width: $tablet) {
		width: 80px;
		height: 80px;
	}
}

.swiper-img__wrapper {
	& .swiper-img-sm {
		position: absolute;
		opacity: 0;
		transform: translateY(100%);

		&.element-show {
			opacity: 1;
			transition: all 2s ease-in-out;
			transform: translateY(0%);
		}
	}
	&:last-child {
		@media screen and (max-width: $desktop) {
			display: none;
		}
	}
	&:nth-child(1) .swiper-img-sm {
		left: 200px;
		top: -16px;
		@media screen and (max-width: $desktop) {
			left: 10%;
			top: 40px;
		}
		@media screen and (max-width: $tablet) {
			left: 13px;
			top: 80px;
		}
	}
	&:nth-child(2) .swiper-img-sm {
		left: 37px;
		top: -10px;
		@media screen and (max-width: $desktop) {
			left: 10%;
			top: 80px;
		}
		@media screen and (max-width: $tablet) {
			left: 16px;
			top: 130px;
		}
	}
	&:nth-child(3) .swiper-img-sm {
		left: -95px;
		top: 60px;
		@media screen and (max-width: $desktop) {
			left: 10%;
			top: 0;
		}
		@media screen and (max-width: $tablet) {
			left: 0;
			top: 30px;
		}
	}
	&:nth-child(4) .swiper-img-sm {
		position: absolute;
		left: 150px;
		top: 40px;
	}
}

// big photo slider
.mySwiper2 {
	margin-top: 4rem;
	height: 80%;
	width: 100%;
	@media screen and (max-width: $desktop) {
		margin-left: 20%;
	}
	@media screen and (max-width: $big-tablet) {
		margin-left: 12%;
	}
	@media screen and (max-width: $tablet) {
		margin-top: 2.5rem;
		margin-left: 8%;
	}
}

.swiper-img-bg {
	width: 683px;
	height: 809px;
	border-radius: $btn-border-radius;
	overflow: hidden;
	@media screen and (max-width: $desktop) {
		width: 450px;
		height: 568px;
	}
	@media screen and (max-width: $tablet) {
		width: 255px;
		height: 302px;
	}
}
.swiper-img-bg img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

//text slider
.mySwiper3 {
	position: absolute;
	z-index: 2;
	top: 35%;
	left: 25%;
	width: 538px;
	height: fit-content;
	color: $main-white;
	@media screen and (max-width: 1375px) {
		width: 350px;
	}
	@media screen and (max-width: $desktop) {
		top: 40%;
		left: 8%;
	}
	@media screen and (max-width: $tablet) {
		top: 42%;
		left: 10%;
		width: 262px;
	}
}

.slider-text {
	display: block;
	text-align: left;

	&__quote {
		margin-bottom: 1.5rem;
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 1;
		@media screen and (max-width: 1375px) {
			font-size: 2rem;
		}
		@media screen and (max-width: $desktop) {
			margin-bottom: 0.75rem;
			font-size: 1.5rem;
		}
		@media screen and (max-width: $tablet) {
			font-size: 1.25rem;
		}
	}
	&__member {
		margin-left: 18px;
		position: relative;
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: -0.32px;

		&::before {
			position: absolute;
			top: 50%;
			left: -18px;
			content: "";
			display: block;
			width: 13px;
			height: 2px;
			background-color: $main-white;
		}
	}
	&__position {
		opacity: 0.5;
	}
}

//custom pagination
.custom-pagination {
	position: absolute;
	top: 75%;
	left: 25%;
	@media screen and (max-width: $desktop) {
		top: 60%;
		left: 8%;
	}
	@media screen and (max-width: $tablet) {
		top: 62%;
		left: 70%;
	}
}
.pagination-wrap {
	display: flex;
	gap: 0.5rem;
	@media screen and (max-width: $tablet) {
		gap: 1rem;
	}
}
.custom-next-icon,
.custom-prev-icon {
	display: none;
	cursor: pointer;
	display: block;
	background: url("../../../assets/images/arrow-left.svg") center center no-repeat;
	background-size: contain;
	width: 2rem;
	height: 2rem;
	z-index: 10;
	transition: $transition-function;
	&:hover {
		transform: scale(1.1);
	}
}
.custom-next-icon {
	background: url("../../../assets/images/arrow-right.svg") center center no-repeat;
	background-size: contain;
}
.custom-prev-icon.swiper-button-disabled,
.custom-next-icon.swiper-button-disabled {
	opacity: 0.5;
}
//swiper slider

.map {
	padding: 7.5rem 0;

	@media screen and (max-width: $desktop) {
		padding: 3.5rem 0;
	}

	@media screen and (max-width: $big-tablet) {
		padding: 2.5rem 0;
	}

	&-flex {
		display: flex;
		justify-content: space-between;
		gap: 2rem;

		@media screen and (max-width: $desktop) {
			gap: 1.125rem;
		}

		@media screen and (max-width: $big-tablet) {
			flex-direction: column-reverse;
			gap: 2rem;
		}
	}

	&-span {
		margin: 0 0.5rem 0 0.5rem;
		color: rgba(103, 107, 112, 0.31);
	}

	&__img {
		width: 100%;
	}

	&__title {
		margin-top: 7.75rem;
		margin-bottom: 1.5rem;
		width: 28.125rem;
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;

		@media screen and (max-width: 1220px) {
			margin-top: 3.125rem;
			margin-bottom: 1.125rem;
			width: 20.75rem;
			font-size: 2.1rem;
		}

		@media screen and (max-width: $big-tablet) {
			margin-top: 0;
			margin-bottom: 1rem;
			width: 16.875rem;
			font-size: 1.75rem;
		}
	}

	&__text {
		width: 25rem;
		font-size: 1rem;
		line-height: 1.2;
		letter-spacing: -0.16px;

		@media screen and (max-width: $desktop) {
			width: 20.75rem;
			font-size: 0.875rem;
			letter-spacing: -0.14px;
		}

		@media screen and (max-width: $big-tablet) {
			width: 70%;
		}

		@media screen and (max-width: $tablet) {
			width: 80%;
		}

		@media screen and (max-width: $mobile) {
			width: 100%;
		}
	}
}
