.footer {
	border-radius: $page-border-radius;
	background: linear-gradient(180deg, #8e98a1 0%, #a2abb1 65.04%, #61686e 124.88%);

	@media screen and (max-width: $desktop) {
		border-radius: $btn-border-radius-9;
	}

	&__content {
		display: flex;
		padding: 4rem 0;
		gap: 3rem;
		width: 100%;
		justify-content: space-between;
		@media screen and (max-width: $desktop) {
			gap: 3rem;
		}
		@media screen and (max-width: $big-tablet) {
			flex-direction: column;
			gap: 0;
			padding: 2.5rem 0;
		}
		@media screen and (max-width: $tablet) {
			padding: 2.5rem 0;
		}
    }

    &__form{
		width: 50%;
		
		@media screen and (max-width: $big-tablet) {
			width: 100%;
		}
    }
	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 50%;
		max-width: 35rem;
		@media screen and (max-width: $big-tablet) {
			margin-top: 4rem;
			width: 100%;
			max-width: none;
		}
	}

	&__image{
		height: 16.6875rem;
		
		border-radius: 0.375rem;
		&>img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0.375rem;
		}
		@media screen and (max-width: $tablet) {			
			height: 10.1875rem;
		}
	}

	&__list {
		& > li {
			color: $second-white;
			font-size: 0.875rem;
			line-height: 100%;

			@media screen and (max-width: $desktop) {
			}
		}

		& > li:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	

	&__menu {
		display: flex;
		gap: 25%;
		margin-top: 2rem;

		@media screen and (max-width: $desktop) {
			gap: 11%;
		}
		@media screen and (max-width: $big-tablet) {
			gap: 0;
			justify-content: space-between;
		}
		@media screen and (max-width: $tablet) {
			margin-top: 1.5rem;
		}
	}

	&__document-item {
		letter-spacing: 0.03rem;
		font-size: 0.875rem;
		line-height: 100%;
		color: $second-white;
	}

	&__document-item:not(:last-child) {
		margin-bottom: 1rem;
	}

	&__menu a {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 0;
			height: 0.05rem;
			background-color: $main-white;
			transition: width 0.3s ease-in-out;
		}

			&:hover::before {
				width: 100%;
				@media screen and (max-width: $desktop) {
					width: 0;
				}
			}
	}
}