.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;

	@media screen and (min-width: $tablet) {
		max-width: $desktop;
		padding: 0 32px;
	}

	@media screen and (min-width: $desktop) {
		max-width: 1440px;
		padding: 0 36px;
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	width: fit-content;
	cursor: pointer;
	border: 1px solid $grey40;
	font-family: inherit;
	font-weight: 600;
	line-height: 0.875;
	text-align: center;
	border-radius: $btn-border-radius;
	transition: all $transition-function;

	&:disabled {
		background-color: $grey15;
		color: rgba(103, 107, 112, 0.2);
	}

	&:hover,
	&:focus {
		.stroke {
			transition: stroke $transition-function;
			stroke: $grey70;
		}
	}

	@media screen and (max-width: $mobile) {
		font-size: 14px;
		line-height: 1;
	}
}

.arrow-icon {
	width: 16px;
	height: 16px;
	margin-left: 24px;
	stroke: rgba(103, 107, 112, 0.31);

	@media screen and (max-width: $mobile) {
		width: 14px;
		height: 14px;
	}
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	margin: -1px;
}
