.header{
	position: absolute;
    width: 100%;
	border-bottom: 0.05rem solid rgba(255, 255, 255, 0.40);
	
		@media screen and (max-width: $desktop) {
			border-bottom: 0;
			margin-top: 1rem;
			}
	
	&__content{
		padding: 1.06rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-variant-numeric: lining-nums tabular-nums;
		
		@media screen and (max-width: $desktop) {
		padding: 0 0;
		}
		@media screen and (max-width: $tablet) {
			
		}
    }
	&__logo{
		z-index: 100;
	}
    &__menu{
		display: flex;
		color:$main-white;
	}
    &__menu-wrapper{
		@media screen and (max-width: $desktop) {
		    border-radius: 0px 0px 9px 9px;
			background: linear-gradient(180deg, #8E98A1 0%, #A2ABB1 65.04%, #61686E 124.88%);
			height: fit-content;
			width: 100%;
			top: 0px;
            position: fixed;
			padding: 0 1rem;
		}
	}
	&__nav{
		display: flex;
				
		@media screen and (max-width: $desktop) {
			display: none;
			position: fixed;
			width: 100%;
			top: 65px;
			bottom: 0;
			left:0;
			right: 0;
			z-index: 50;
			overflow: auto;
			padding: 0 0;
			animation: burgerAnimation 0.4s;
		}
		@media screen and (max-width: $tablet) {
			top: 38px;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		
		@media screen and (max-width: $desktop) {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 7.5rem;
          }
			
		&>li{
			margin-right: 1.5rem;
			@media screen and (max-width: $desktop) {
				margin-right: 0;
				margin-bottom: 1rem;
			}
		}
	}

	&__phone{
		@media screen and (max-width: $desktop) {
			display: none;
		}
	}

	&__document-menu{
		display: none;

		@media screen and (max-width: $desktop) {
			display: flex;
			flex-direction: column;
			margin-bottom: 3rem;
			margin-top: 11.5rem;

		}
	}

	&__document-item{
		margin-bottom: 1rem;
		font-size: 0.875rem;
		line-height: 0.875rem;
	}

	&__last-block{
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		color: #666B71;
		width: 100%;
		padding: 0.5rem 0;

	}

	&__last-text{
		font-size: 10px;
		font-weight: 400;
		text-align: right;
		line-height: 100%;
		letter-spacing: -0.1px;
	}
}
.header .custom-logo-link img {
   	width: 6.75rem;
	height: 1.75rem;

	@media screen and (max-width: $tablet) {
		width: 6rem;
	    height: 1.5rem;
	}
}

.open{
	@media screen and (max-width: $desktop) {
		display: flex;
		background: wheat;
	}
	
}

.header__list a{
	position: relative;
	transition: color $transition-function;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.025rem;
	
	@media screen and (max-width: $desktop) {
		font-size:2rem;
		font-weight: 500;

		&::before {
			content: "";
			position: absolute;
			bottom: 2px;
			left: 0;
			width: 0;
			height: 2px;
			background-color: $main-white;
			transition: width 0.3s ease-in-out;
		}

		&:hover::before {
			width: 100%;
		}

		&.active {
			color: $main-white;
			&::before {
				width: 100%;
			}
		}
	}
	
}
	.burger{
	display: none;

	@media screen and (max-width: $desktop) {
		display: flex;
		position: relative;
		z-index: 50;
		align-items: center;
		width: 1.5rem;
		justify-content: flex-end;
		height: 0.5rem;
		cursor: pointer;

		&__title{
			padding-right: 2rem;
			font-size: 0.875rem;
			color: $main-white;
		}
	}
    @media screen and (max-width: $tablet){
		
	}
}

.burger::before, .burger::after{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: $main-white;
	
}

.burger::before{
	top: 0;
}

.burger::after{
	bottom: 0;
}

.burger.active span{
	transform: scale(0);
}


