.header{
	position: absolute;
    width: 100%;
	border-bottom: 0.05rem solid rgba(255, 255, 255, 0.40);
    z-index: 100;
	
		@media screen and (max-width: $desktop) {
			border-bottom: 0;
			margin-top: 1rem;
			}
	
	&__content{
		padding: 1.06rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-variant-numeric: lining-nums tabular-nums;
		
		@media screen and (max-width: $desktop) {
		padding: 0 0;
		}
    }

	&__logo{
		z-index: 100;
	}

	&__sertificates{
		margin-right: 1.2rem;
		
	}

	&__sertificates-icon{
		width: 1rem;
		height: 0.5rem;
		stroke: $main-white;
	}
	&__sertificates-submenu{
		display: none;
		  	
			background: $dark-gradient;
			height: 500px;
			padding-top: 7%;
			border-radius: 0rem 0rem 1rem 1rem;
			position: absolute;
			left: -1px;
			top: -7px;

			&::before {
				content: "";
				position: absolute;
				bottom: 0px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $grey70;
				transition: width 0.3s ease-in-out;
			}
	}
	&__sertificate-items{
		width: 100%;  
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 3rem;
		width: 100%;
		top: 0;
		flex-direction: row;
		padding: 0 36px;
		}

    &__menu{
		display: flex;
		color:$main-white;
	}

    &__menu-wrapper{
		margin-right: 1px;

		@media screen and (max-width: $desktop) {
		    border-radius: 0px 0px 0.56rem 0.56rem ;
			background: $dark-gradient;
			height: fit-content;
			width: 100%;
			top: 0px;
            position: fixed;
			padding: 0 2rem;
            height: 95%;
			flex: 1;
		}
			
		@media screen and (max-width: $tablet) {
			padding: 0 1rem;
			margin-right: 0px;
		}
	}


	&__nav{
		display: flex;
				
		@media screen and (max-width: $desktop) {
			display: none;
			position: fixed;
			width: 100%;
			top: 4rem;
			bottom: 0;
			left:0;
			right: 0;
			z-index: 50;
			overflow: auto;
			padding: 0 0;
			animation: burgerAnimation 0.4s;
		}

		@media screen and (max-width: $tablet) {
			top: 2.37rem;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		
		@media screen and (max-width: $desktop) {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 7.5rem;
        }
			
		&>li{
			margin-right: 1.5rem;

			@media screen and (max-width: $desktop) {
				margin-right: 0;
				margin-bottom: 1rem;
			}
		}
	}

	&__phone{
		letter-spacing: 0.02rem;
		z-index: 100;
		@media screen and (max-width: $desktop) {
			display: none;
		}
	}

	&__document-menu{
		display: none;

		@media screen and (max-width: $desktop) {
			display: flex;
			flex-direction: column;
			margin-bottom: 3rem;
			margin-top: 11.5rem;
		}
	}

	&__document-item{
		margin-bottom: 1rem;
		font-size: 0.875rem;
		line-height: 0.875rem;
		letter-spacing: 0.03rem;	
	}

	&__last{
		display: none;
		padding: 0 2.25rem;
		
		@media screen and (max-width: $desktop) {
			display: block;
			margin-top: auto;
			padding: 0 1rem;
			margin-bottom: 3%;
		}
		@media screen and (max-width: $big-tablet) {
			margin-bottom: 4%;
		}
		@media screen and (max-width: $tablet) {
			margin-bottom: 1%;
		}

	}
}
.header .custom-logo-link img {
   	width: 6.75rem;
	height: 1.75rem;

	@media screen and (max-width: $tablet) {
		width: 6rem;
	    height: 1.5rem;
	}
}

.open{
	@media screen and (max-width: $desktop) {
		background: $second-white;
		display: flex;
		flex-direction: column;
		min-height: 95vh;
		margin: 0;
	}
	
}

.header__list a{
	position: relative;
	transition: all $transition-function;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.025rem;

		@media screen and (max-width: $desktop) {
			font-size: 2rem;
			font-weight: 500;
			z-index: 100;
					}
	    &:hover{
				border-bottom: 0.05rem solid $main-white;
			}
			
		}

			
.header__list li.active a{
				opacity: 0.3;
				color: red($color: #000000);
			}

	
.burger{
	display: none;

	@media screen and (max-width: $desktop) {
		display: flex;
		position: relative;
		z-index: 50;
		align-items: center;
		width: 2rem;
		justify-content: flex-end;
		height: 0.8rem;
		cursor: pointer;

		@media screen and (max-width: $tablet){
			width: 1.5rem;
			height: 0.5rem;
		}
		

		&__title{
			padding-right: 2.5rem;
			font-size: 1.2rem;
			color: $main-white;
			letter-spacing: 0.1rem;
			@media screen and (max-width: $tablet){
				padding-right: 2rem;
				font-size: 0.8rem;
				color: $main-white;
		    }
	    }
    }
}

.burger::before, .burger::after{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: $main-white;
	
}

.burger::before{
	top: 0;
}

.burger::after{
	bottom: 0;
}

.burger.active span{
	transform: scale(0);
	
}
.burger.active{
	height: 1.5rem;
}

.burger.active::before{
	top:50%;
	transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
	bottom:50%;
	transform: rotate(45deg) translate(0, 50%);
}

@keyframes burgerAnimation {
	from{opasity: 0}
	to {opasity: 1}
}



