$main-white: #ffffff;
$dark-white: #f6f9fb;
$grey15: #dfe5e6;
$grey40: #9199a1;
$grey50: #868e97;
$grey70: #676b70;

$mobile: 375px;
$tablet: 576px;
$big-tablet: 766px;
$desktop: 992px;

$btn-border-radius: 3px;
$page-border-radius: 16px;

$transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
