@import "../variables.scss";

#accordion {
	width: 100%;
}

.acc2-item {
	border-bottom: 1px solid rgba(102, 107, 113, 0.2);
}

.acc2-head {
	margin: 3rem 0 1rem 0;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;

	@media screen and (max-width: $big-tablet) {
		width: 95%;
		margin: 2.25rem 0 1rem 0;
		font-size: 1.125rem;
	}
}

.acc2-wrapper {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: $big-tablet) {
		gap: 1rem;
	}
}

.toggle-btn2 {
	margin-top: 1rem;
	width: 1.875rem;
	cursor: pointer;
	font-size: 1.875rem;
	color: $grey90;

	@media screen and (max-width: $big-tablet) {
		margin-top: 0.75rem;
		font-size: 1.5rem;
	}
}

.acc2-body {
	margin-bottom: 2rem;
	width: 70%;
	display: none;
	font-size: 1rem;
	line-height: 1.2;
	letter-spacing: -0.16px;

	@media screen and (max-width: $big-tablet) {
		width: 90%;
		margin-bottom: 1.5rem;
		font-size: 0.875rem;
		letter-spacing: -0.14px;
	}
}
