@import "../variables.scss";

.blog{
    &__banner{
        height: 21rem;
        background: $dark-gradient;
        position: relative;
        @media screen and (max-width: $tablet) {
            height: 13.5rem;
       }
    }

    &__title{
        font-size: 4.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        color: $main-white;
        position: absolute;
        top: 54%;
        left: 3%;
        letter-spacing: 0.1rem;
        @media screen and (max-width: $big-tablet) {
             font-size: 2.25rem;
             top: 65%;
             left: 4%;
             letter-spacing: .08rem;
        }
       
    }

    &__wrapper{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        @media screen and (max-width: $desktop) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $tablet) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 2.5rem;
        }
    }

} 

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 500;
    
    @media screen and (max-width: $tablet) {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-weight: 500;
    }
  }
  
  .pagination .page-numbers {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      border-radius: 50%;
      color: $grey70;
      opacity: 30%;
  
      &:not(:last-child) {
          margin-right: 8px;
      }
      &:hover {
          border: 1px solid $grey40;
      }
  }
  
  .pagination .page-numbers.current {
      background-color: #8F99A2;
      color: $main-white;
  }
  